{% extends "index.html" %}

{% block content %}
<div class="container">
    <a href="/third-page" class="btn btn-outline-secondary" role="button">Previous page</a>
    <a class="btn btn-outline-secondary" href="/fifth-page" role="button">Next page</a>
</div><br>
<div class="container">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Planet Name</th>
                    <th scope="col">Diameter</th>
                    <th scope="col">Climate</th>
                    <th scope="col">Terrain</th>
                    <th scope="col">Surface water percentage</th>
                    <th scope="col">Population</th>
                    <th scope="col">Residents</th>

                </tr>
            </thead>
            <tbody>
                {% for planet in planets %}
                <tr>
                    <td>{{ planet.name }}</td>
                    <td>{{ planet.diameter }}</td>
                    <td>{{ planet.climate }}</td>
                    <td>{{ planet.terrain }}</td>
                    <td>{{ planet.surface_water }}</td>
                    <td>{{ planet.population}}</td>
                    <td>{{ planet.residents}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}