<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Star wars world</title>
    <script type="text/javascript" src="/static/js/main.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
</head>
<body background="https://img.wallpapersafari.com/desktop/1680/1050/88/66/mTnUh1.jpg">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <div>
                <a class="navbar-brand" href="/register">Planet list</a>
                <a class="navbar-brand" href="/register">Register</a>
                <a class="navbar-brand" href="/register">Login</a>
                <a class="navbar-brand" href="/register">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container">
    <h1>Star Wars Universe Planets</h1>
    </div><br>
    {% block content %} {% endblock %}
</body>
</html>