{% extends "index.html" %}

{% block content %}
{% if not session ['username'] %}
<div class="container">
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="login-input"><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="login-input"><br>
        <input type="submit" value="Login" class="btn btn-outline-secondary" role="button">
    </form>
</div>
{% endif %}

{% if log==False %}
    <script>
        alert('Invalid username or password')
    </script>
{% endif %}

{% endblock %}