<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"></h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <div class="container">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Height</th>
                    <th scope="col">Mass</th>
                    <th scope="col">Hair colour</th>
                    <th scope="col">Skin Colour</th>
                    <th scope="col">Eye colour</th>
                    <th scope="col">Birth year</th>
                    <th scope="col">Gender</th>

                </tr>
            </thead>
            <div id="modalbody"></div>
        </table>
      </div>
    </div>
  </div>
</div>